{% extends 'base.html' %}
{% load bootstrap3 %}
{% block title %}主机列表{% endblock %}
{% block content %}
    <table class="table table-hover table-striped" style="margin-top: 3px;">
        <thead>
            <tr>
                <th>主机名</th>
                <th>状态</th>
                <th>系统</th>
                <th>IP</th>
                <th>标签</th>
                <th>CPU核数</th>
                <th>内存(G)</th>
                <th>磁盘(G)</th>
            </tr>
        </thead>
        <tbody>
            {% for server in page_obj %}
            <tr>
                <td><a href="{{ server.get_absolute_url }}">{{ server.hostname }}</a></td>
                <td>
                    {% if server.ip in servers_online %}
                        <span class="label label-success">在线</span>
                    {% else %}
                        <span class="label label-danger">离线</span>
                    {% endif %}
                </td>
                <td>{{ server.os }}</td>
                <td>{{ server.ip }}</td>
                <td>{{ server.get_tags_display }}</td>
                <td>{{ server.cpu_logic_nums }}</td>
                <td>{{ server.mem_size }}</td>
                <td>{{ server.disk_size }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div align="center">
        {% bootstrap_pagination page_obj url=request.path size="small" %}
    </div>
{% endblock %}