{% extends 'base.html' %}
{% block title %}应用{{ product.name }}{% endblock %}
{% block content %}
<div class="row">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">应用</h1>
        </div>
    </div>

	<div class="panel panel-info">
		<div class="panel-heading">应用</div>
		<div class="panel-body">
			{% if user.member.mem_type == "operationer" %}
			<div class="row well">
				<div class="row col-sm-4">
					<div style="margin-left:80px"><p>单机器服务</p></div>
						<div class="form-group" style="margin-left:70px">
							<div class="col-sm-7">
								<select class="form-control" id="single_service">
									{% for service in services %}
										<option value="{{service.name}}">{{service.name}}</option>
									{% endfor %}
								</select>
							</div>
						    <button type="button" class="btn btn-default" id="query_service">查询</button>
					</div>	
					<select id="single_select" multiple="multiple" class="form-control" style="height:300px; width:200px; margin-left:80px">
					</select>
				</div>
				<div class="row col-sm-4">
					<div style="margin-left:80px"><p>集群服务</p></div>
						<div class="form-group" style="margin-left:70px">
							<div class="col-sm-7">
								<select class="form-control" id="cluster_service">
									{% for service in services %}
										<option value="{{service.name}}">{{service.name}}</option>
									{% endfor %}
								</select>
							</div>
						    <button type="button" class="btn btn-default" id="query_cluster">查询</button>
						</div>
					<select id="cluster_select" multiple="multiple" class="form-control" style="height:300px; width:200px; margin-left:80px">
					</select>
				</div>
				<div class="row col-sm-4">
					<div style="margin-left:80px"><p>开发人员</p>
						<div class="form-group" style="visibility:hidden">
							<div class="col-sm-2">
								<select class="form-control" id="">

								</select>
							</div>
						    <button type="button" class="btn btn-default" id="">查询</button>
						</div>
					</div>	
					<select id="dev_select" multiple="multiple" class="form-control" style="height:300px; width:200px; margin-left:80px">
						{% for dev in devs %}
							<option value="{{dev.id}}">{{dev}}</option>
						{% endfor %}
					</select>
				</div>
			</div>
			{% endif %}

			<div class="row well">
				<div class="row col-sm-4">
					<div style="margin-left:80px"><p>单机器服务</p></div>	
					<select id="final_single_select" multiple="multiple" class="form-control" style="height:300px; width:200px; margin-left:80px"  {% if user.member.mem_type == "projecter" %} readonly="true" {% endif %}>
						{% for host_service in product.services.all %}
							<option value="{{host_service.service}}${{host_service.id}}">{{host_service.service}}_{{host_service.host}}</option>
						{% endfor %}
					</select>
				</div>
				<div class="row col-sm-4">
					<div style="margin-left:80px"><p>集群服务</p></div>
					<select id="final_cluster_select" multiple="multiple" class="form-control" style="height:300px; width:200px; margin-left:80px" {% if user.member.mem_type == "projecter" %} readonly="true" {% endif %}>
						{% for cluster in product.clusters.all %}
							<option value="{{cluster.service}}${{cluster.id}}">{{cluster.service}}_{{cluster.name}}</option>
						{% endfor %}
					</select>
				</div>
				<div class="row col-sm-4">
					<div style="margin-left:80px"><p>开发人员</p></div>	
					<select id="final_dev_select" multiple="multiple" class="form-control" style="height:300px; width:200px; margin-left:80px" {% if user.member.mem_type == "projecter" %} readonly="true" {% endif %}>
						{% for dev in product.devs.all %}
							<option value="{{dev.id}}">{{dev.user}}</option>
						{% endfor %}
					</select>
				</div>
			</div>


			<div class="row">
				<form class="form-horizontal">
					<div class="form-group">
						<label for="product_name" class="col-sm-2 control-label">应用名字</label>
						<div class="col-sm-2">
							<input type="text" class="form-control" id="product_name" value="{{product.name}}" readonly="true">
						</div>
					</div>
					<div class="form-group">
						<label for="product_ext" class="col-sm-2 control-label">备注</label>
						<div class="col-sm-4">
                            <textarea class="form-control" rows="3" id="product_ext" placeholder="备注" {% if user.member.mem_type == "projecter" %} readonly="true" {% endif %}>{{product.ext}}</textarea>
						</div>
					</div>
					{% if user.member.mem_type == "operationer" %}
					<div class="form-group">
					    <div class="col-sm-offset-2 col-sm-10">
					      	<button type="button" class="btn btn-default" id="create_product">更新</button>
					    </div>
				  </div>
				  {% endif %}
				</form>
			</div>

		</div>
	</div>
</div>
{% endblock %}

{% block js%}
{% if user.member.mem_type == "operationer" %}
<script type="text/javascript">
$(function(){
	$("#query_service").click(function() {
		$("#single_select").empty();
		var service = $("#single_service").val();

		$.ajax({
			type: "GET",
			url:"/services/query_service/",
			data: {"name": service},
			success: function(msg){
				if (msg.succ) {
					for (host in msg.hosts) {
						$("#single_select").append("<option value=\"" + service + "$" + msg.hosts[host]["id"] + "\">" + service + "_" + msg.hosts[host]["name"] + "</option>"); 
					}
				}
				else {
					alert(msg.reason);
				}
			},
			error: function(){
				alert("报告管理员！");
			}
		});
	});

	$("#single_select").dblclick(function() {
		var vSelect = $("#single_select option:selected");
		t=$("#final_single_select option[value=\'" + vSelect.val() + "\'");
		t.remove();
		vSelect.clone().appendTo("#final_single_select");
	});

	$("#final_single_select").dblclick(function() {
		var vSelect = $("#final_single_select option:selected");
		vSelect.remove();
	});

	$("#query_cluster").click(function() {
		$("#cluster_select").empty();
		var service = $("#cluster_service").val();

		$.ajax({
			type: "GET",
			url:"/services/query_cluster/",
			data: {"name": service},
			success: function(msg){
				if (msg.succ) {
					for (host in msg.hosts) {
						$("#cluster_select").append("<option value=\"" + service + "$" + msg.hosts[host]["id"] + "\">" + service + "_" + msg.hosts[host]["name"] + "</option>"); 
					}
				}
				else {
					alert(msg.reason);
				}
			},
			error: function(){
				alert("报告管理员！");
			}
		});
	});

	$("#cluster_select").dblclick(function() {
		var vSelect = $("#cluster_select option:selected");
		t=$("#final_cluster_select option[value=\'" + vSelect.val() + "\'");
		t.remove();
		vSelect.clone().appendTo("#final_cluster_select");
	});

	$("#final_cluster_select").dblclick(function() {
		var vSelect = $("#final_cluster_select option:selected");
		vSelect.remove();
	});

	$("#dev_select").dblclick(function() {
		var vSelect = $("#dev_select option:selected");
		t=$("#final_dev_select option[value=\'" + vSelect.val() + "\'");
		t.remove();
		vSelect.clone().appendTo("#final_dev_select");
	});

	$("#final_dev_select").dblclick(function() {
		var vSelect = $("#final_dev_select option:selected");
		vSelect.remove();
	});

	$("#create_product").click(function () {
		var dd = {"name": $("#product_name").val()};
		dd["ext"] = $("#product_ext").val();

		lm = new Array();
		$("#final_single_select option").each(function(i, selected) {
			lm[i] = $(selected).val();
		});
		dd["host_services"] = lm;

		ls = new Array();
		$("#final_cluster_select option").each(function(i, selected) {
			ls[i] = $(selected).val();
		});
		dd["clusters"] = ls;

		ld = new Array();
		$("#final_dev_select option").each(function(i, selected) {
			ld[i] = $(selected).val();
		});
		dd["devs"] = ld;

		$.ajax({
			type: "POST",
			url:"{{request.path}}",
			data: dd,
			success: function(msg){
				if (msg.succ) {
					alert("更新成功!");
				}
				else {
					alert(msg.reason);
				}
			},
			error: function(){
				alert("报告管理员！");
			}
		});
	});
});
</script>
{% endif %}
{% endblock %}
