{% extends 'base.html' %}
{% block title %}服务器列表{% endblock %}
{% block content %}
    <form action="/services/query_hostservice/" method="GET">
        <div class="row">
            <div class="col-md-4">
                <div class="input-group">
                    <select class="form-control" name="name" id="select_service">
                        {% for service in services %}
                            <option value="{{service.name}}">{{service.name}}</option>
                        {% endfor %}
                    </select>
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="submit">查询</button>
                    </span>
                </div>
            </div>
        </div>
    </form>
    <table class="table table-hover table-striped" style="margin-top: 3px;">
        <thead>
            <tr>
                <th>主机名</th>
                <th>IP</th>
                <th>操作系统</th>
                <th>CPU物理核数</th>
                <th>内存(G)</th>
                <th>磁盘(G)</th>
                <th>备注</th>
            </tr>
        </thead>
        <tbody>
            {%for host_service in page%}
            <tr>
                <td>{{host_service.host.hostname}}</td>
                <td>{{host_service.host.listen_ip}}</td>
                <td>{{host_service.host.os}}</td>
                <td>{{host_service.host.cpu_cores}}</td>
                <td>{{host_service.host.mem_size}}</td>
                <td>{{host_service.host.disk_size}}</td>
                <td>{{host_service.host.ext}}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
	<nav>
		{%if page%}
			<ul class="pagination">
				{%if page.has_previous%}
					<li><a href="/services/query_hostservice/?name={{checked_name}}&page={{page.previous_page_number }}">&laquo;</a></li>
				{%else%}
					<li><a href="#">&laquo;</a></li>
				{%endif%}
					<li><a href="/services/query_hostservice/?name={{checked_name}}&page={{page.number}}">{{page.number}}</a></li>
				{%if page.has_next%}
					<li><a href="/services/query_hostservice/?name={{checked_name}}&page={{page.next_page_number }}">&raquo;</a></li>
				{%else%}
					<li><a href="#">&raquo;</a></li>
				{%endif%}
			</ul>
		{%endif%}
	</nav>
{% endblock %}

{% block js %}
<script type="text/javascript">
$(document).ready(function(){
	$("#select_service").val("{{checked_name}}");
});
</script>
{% endblock %}