{% extends "base.html" %}
{% block title %}脚本 - {{ script.name }}{% endblock %}
{% block content %}
    <style type="text/css">
    #script-log {
        margin-top: 3px;
        background-color: #0d1318;
        font-size: large;
        color: white;
    }
    </style>
    <ol class="breadcrumb">
        <li class="active"><a href="{{ script.get_absolute_url }}">脚本：{{ script.name }}</a></li>
    </ol>
    <textarea class="form-control" id="script-log" cols="40" rows="40" style="margin-top: 3px;" readonly></textarea>
{% endblock %}
{% block js %}
    <script>
    $(document).ready(function () {
        var url = '{% url "script_implement_log" script.identifier.get_hex %}';
        var oLog = $('#script-log');
        function getImplementLog() {
            $.getJSON(url, {}, function (ret) {
                var i = 0;
                for (i = 0; i < ret.msg.length; i++) {
                    oLog.val(oLog.val() + ret.msg[i]+'\n');
                }
                setTimeout(getImplementLog, 1000);
            });
        }
        setTimeout(getImplementLog, 1000);
    });
    </script>
{% endblock %}