{% extends "base.html" %}
{% load bootstrap3 %}
{% block title %}SpringCloud监控器{% endblock %}
{% block content %}
    <ol class="breadcrumb">
        <li><a href="{% url 'springcloud_monitor_list_view' %}">SpringCloud监控器列表</a></li>
        <li class="active">SpringCloud监控器：{{ springcloud_monitor.name }}</li>
    </ol>

    {% if perms.monitor.change_springcloudmonitor %}
    <a role="button" class="btn btn-primary" href="{{ springcloud_monitor.get_update_url }}">编辑</a>
    {% endif %}
    <a role="button" class="btn btn-info" href="{{ springcloud_monitor.get_monitor_url }}">监视</a>
    {% if perms.monitor.delete_springcloudmonitor %}
    <a role="button" class="btn btn-danger" href="{{ springcloud_monitor.get_delete_url }}">删除</a>
    {% endif %}
    <table class="table table-bordered table-hover" style="margin-top: 3px;">
        <tbody>
            <tr>
                <th scope="row">名称</th>
                <td>{{ springcloud_monitor.name }}</td>
            </tr>
            <tr>
                <th scope="row">监控接口地址</th>
                <td>{{ springcloud_monitor.addr }}</td>
            </tr>
            <tr>
                <th scope="row">端口</th>
                <td>{{ springcloud_monitor.addr }}</td>
            </tr>
            <tr>
                <th scope="row">应用状态</th>
                <td>{% bootstrap_span_custom springcloud_monitor.ping "active/unactive" %}</td>
            </tr>
            <tr>
                <th scope="row">监控器状态</th>
                <td>{% bootstrap_span_custom springcloud_monitor.active "开启/关闭" %}</td>
            </tr>
            <tr>
                <th scope="row">创建人</th>
                <td>{{ springcloud_monitor.created_by.get_full_name }}</td>
            </tr>
            <tr>
                <th scope="row">创建时间</th>
                <td>{{ springcloud_monitor.create_time }}</td>
            </tr>
            <tr>
                <th scope="row">备注</th>
                <td><pre class="pre-note">{{ springcloud_monitor.note }}</pre></td>
            </tr>
        </tbody>
    </table>
{% endblock %}