{% extends "base.html" %}
{% load bootstrap3 %}
{% block title %}Storm应用{% endblock %}
{% block content %}
    <ol class="breadcrumb">
        {% if "/storm-app/create" in request.path %}
            <li><a href="{{ cluster.get_absolute_url }}">Storm集群：{{ cluster.name }}</a></li>
            <li class="active">添加Storm应用</li>
        {% else %}
            <li><a href="{{ storm_app.get_absolute_url }}">Storm集群：{{ cluster.name }}</a></li>
            <li class="active">更新Storm应用：{{ storm_app.name }}</li>
        {% endif %}
    </ol>

    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons submit="提交" %}{% endbuttons %}
    </form>

{% endblock %}