{% extends "base.html" %}
{% load bootstrap3 %}
{% block title %}删除War包目录{% endblock %}
{% block content %}
    <ol class="breadcrumb">
        <li><a href="{{ tomcat_server_war_dir.tomcat_server.get_absolute_url }}">Tomcat服务器：{{ tomcat_server_war_dir.tomcat_server.name }}</a></li>
        <li class="active">删除War包目录</li>
    </ol>

    <form method="post">
        {% csrf_token %}
        <div class="alert alert-danger" role="alert">确认要删除Tomcat服务器War包目录"{{ tomcat_server_war_dir.name }}"吗?</div>
        <button class="btn btn-primary" type="submit">确认</button>
        <a class="btn btn-warning" href="{{ tomcat_server_war_dir.tomcat_server.get_absolute_url }}">取消</a>
    </form>
{% endblock %}