{% extends "base.html" %}
{% load bootstrap3 %}
{% block title %}删除Storm服务器{% endblock %}
{% block content %}
    <ol class="breadcrumb">
        <li><a href="{{ storm_node.cluster.get_absolute_url }}">Storm集群：{{ storm_node.cluster.name }}</a></li>
        <li class="active"><a href="{{ storm_node.get_absolute_url }}">Strom服务器：{{ storm_node.name }}</a></li>
    </ol>

    <form method="post">
        {% csrf_token %}
        <div class="alert alert-danger" role="alert">确认要删除Strom服务器"{{ storm_node.name }}"吗?</div>
        <button class="btn btn-primary" type="submit">确认</button>
        <a class="btn btn-warning" href="{{ storm_node.get_absolute_url }}">取消</a>
    </form>
{% endblock %}