{% extends "base.html" %}
{% load bootstrap3 %}
{% block title %}SpringCloud集群节点{% endblock %}
{% block content %}
    <ol class="breadcrumb">
        <li><a href="{{ springcloud_node.cluster.get_absolute_url }}">{{ springcloud_node.cluster.name }}</a></li>
        <li class="active">{{ springcloud_node.name }}</li>
    </ol>

    {% if perms.springcloud.change_springcloudnode %}
    <a role="button" class="btn btn-primary" href="{{ springcloud_node.get_update_url }}">编辑</a>
    {% endif %}
    {% if perms.springcloud.delete_springcloudnode %}
    <a role="button" class="btn btn-danger" href="{{ springcloud_node.get_delete_url }}">删除</a>
    {% endif %}

    <table class="table table-bordered table-hover" style="margin-top: 3px;">
        <tbody>
            <tr>
                <th scope="row">名称</th>
                <td>{{ springcloud_node.name }}</td>
            </tr>
            <tr>
                <th scope="row">主机</th>
                <td>{{ springcloud_node.server }}</td>
            </tr>
            <tr>
                <th scope="row">状态</th>
                <td>{% bootstrap_span_custom springcloud_node.server.is_alive '在线/离线' %}</td>
            </tr>
            <tr>
                <th scope="row">工作目录</th>
                <td>{{ springcloud_node.cwd }}</td>
            </tr>
            <tr>
                <th scope="row">创建人</th>
                <td>{{ springcloud_node.created_by.get_full_name }}</td>
            </tr>
            <tr>
                <th scope="row">创建时间</th>
                <td>{{ springcloud_node.create_time }}</td>
            </tr>
            <tr>
                <th scope="row">备注</th>
                <td>{{ springcloud_node.note }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}