{% extends "base.html" %}
{% load bootstrap3 %}
{% block title %}Tomcat集群{% endblock %}
{% block content %}
    <ol class="breadcrumb">
        <li><a href="{{ tomcat_cluster.group.get_absolute_url }}">Tomcat组：{{ tomcat_cluster.group.name }}</a></li>
        <li class="active">Tomcat集群：{{ tomcat_cluster.name }}</li>
    </ol>

    {% if perms.services.change_tomcatcluster %}
        <a role="button" class="btn btn-primary" href="{{ tomcat_cluster.get_update_url }}">编辑</a>
    {% endif %}
    {% if perms.services.delete_tomcatcluster %}
        <a role="button" class="btn btn-danger" href="{{ tomcat_cluster.get_delete_url }}">删除</a>
    {% endif %}
    <table class="table table-bordered table-hover" style="margin-top: 3px;">
        <tbody>
            <tr>
                <th scope="row">名称</th>
                <td>{{ tomcat_cluster.name }}</td>
            </tr>
            <tr>
                <th scope="row">备注</th>
                <td>{{ tomcat_cluster.note }}</td>
            </tr>
            <tr>
                <th scope="row">创建人</th>
                <td>{{ tomcat_cluster.user.get_full_name }}</td>
            </tr>
            <tr>
                <th scope="row">创建时间</th>
                <td>{{ tomcat_cluster.create_time | date:"Y-m-d H:i:s" }}</td>
            </tr>
        </tbody>
    </table>

    {% if perms.services.add_tomcatserver %}
        <a role="button" class="btn btn-primary" href="{% url 'tomcat_server_create' tomcat_cluster.id %}">添加Tomcat节点</a>
    {% endif %}
    <table class="table table-hover" style="margin-top: 3px;">
        <thead>
            <tr>
                <th>名称</th>
                <th>位置</th>
                <th>端口</th>
                <th>命令</th>
                <th>状态</th>
                <th>备注</th>
            </tr>
        </thead>
        <tbody>
        {% for ts in tomcat_cluster.tomcatserver_set.all %}
            <tr>
                <td><a href="{{ ts.get_absolute_url }}">{{ ts.name }}</a></td>
                <td>{{ ts.host }}</td>
                <td>{{ ts.port }}</td>
                <td>{{ ts.cmd }}</td>
                <td>
                    {% bootstrap_span_state ts.is_alive content_type=1 %}
                </td>
                <td>{{ ts.note }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if perms.services.add_tomcatapp %}
    <a role="button" class="btn btn-primary" href="{% url 'tomcat_app_create' tomcat_cluster.id %}">添加Tomcat应用</a>
    {% endif %}
    <table class="table table-hover" style="margin-top: 3px;">
        <thead>
            <tr>
                <th>名字</th>
                <th>备注</th>
                <th>开发者</th>
                <th>创建时间</th>
            </tr>
        </thead>
        <tbody>
        {% for app in tomcat_app_list %}
            <tr>
                <td><a href="{{ app.get_absolute_url }}">{{ app.name }}</a></td>
                <td>{{ app.note }}</td>
                <td>{{ app.get_users_display }}</td>
                <td>{{ app.create_time | date:"Y-m-d H:i:s" }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}