{% extends "base.html" %}
{% load bootstrap3 %}
{% block title %}ICE服务{% endblock %}
{% block content %}
    <ol class="breadcrumb">
        <li><a href="{{ ice_service.center.get_absolute_url }}">ICE注册中心：{{ ice_service.center.name }}</a></li>
        <li><a href="{{ ice_service.get_absolute_url }}">ICE服务：{{ ice_service.name }}</a></li>
    </ol>
    <a role="button" class="btn btn-primary" href="{% url 'ice_service_jar_create' ice_service.id %}">添加</a>
    <div class="row">
    <div class="col-sm-9">
        <table class="table table-bordered table-hover" style="margin-top: 3px;">
            <thead>
                <tr>
                    <th>创建时间</th>
                    <th>Jar包</th>
                    <th>状态</th>
                    <th>激活</th>
                    <th>所属</th>
                    <th>备注</th>
                    <th style="width: 25%">操作</th>
                </tr>
            </thead>
            <tbody>
            {% for pkg in page_obj %}
                <tr>
                    <td>{{ pkg.create_time | date:"Y-m-d H:i:s" }}</td>
                    <td title="{{ pkg }}">{% if pkg.package %}<a href="{{ pkg.package.url }}">{{ pkg | truncatechars:20 }}</a>{% else %}{{ pkg | truncatechars:20 }}{% endif %}</td>
                    <td>{{ pkg.get_state_display }}</td>
                    <td>
                        {% if pkg.active %}
                            <span class="label label-success">是</span>
                        {% else %}
                            <span class="label label-danger">否</span>
                        {% endif %}
                    </td>
                    <td>{{ pkg.user.get_full_name }}</td>
                    <td title="{{ pkg.note }}">{{ pkg.note | truncatechars:20 }}</td>
                    <td>
                        <button type='button' class='btn btn-sm btn-success' onclick='activeConfirm("{{ pkg.get_active_url }}")' {% if pkg.active %}disabled{% endif %}>激活</button>
                        <a role="button" class="btn btn-sm btn-info" href="{{ pkg.get_update_url }}">编辑</a>
                        <button type='button' class='btn btn-sm btn-danger' onclick='deleteConfirm("{{ pkg.get_delete_url }}")'>删除</button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div align="center">
            {% bootstrap_pagination page_obj url=request.path size="small" %}
        </div>
    </div>
        <div class="col-sm-3">
            <div class="list-group">
                <a href="{{ ice_service.get_absolute_url }}" class="list-group-item">基本信息</a>
                <a href="#" class="list-group-item active">程序包列表<span class="badge">{{ active_jar_count }}</span></a>
                <a href="{% url 'ice_service_config_list' ice_service_id=ice_service.id %}" class="list-group-item">配置文件列表<span class="badge">{{ active_config_count }}</span></a>
            </div>
        </div>
    </div>
{% endblock %}