{% extends "base.html" %}
{% block title %}主机{% endblock %}
{% block content %}
    <ol class="breadcrumb">
        {% if user.profile.role.alias == "CPIS" %}
        <li><a href="{{ server.cabinet.idc.get_absolute_url }}">{{ server.cabinet.idc.name }}</a></li>
        <li><a href="{{ server.cabinet.get_absolute_url }}">机柜：{{ server.cabinet.num }}</a></li>
        {% endif %}
        <li class="active">主机：{{ server.hostname }}</li>
    </ol>

    <ul class="nav nav-tabs" role="tablist" style="margin-bottom: 5px; margin-top: 5px">
        <li role="presentation"><a href="{{ server.get_absolute_url }}">基本信息</a></li>
        <li role="presentation"><a href="{% url 'server_runtime_view' %}?hostname={{ server.hostname }}">运行信息</a></li>
        <li role="presentation" class="active"><a href="{% url 'server_connections_view' %}?hostname={{ server.hostname }}">网络连接</a></li>
        <li role="presentation"><a href="{% url 'server_process_list_view' %}?hostname={{ server.hostname }}">进程</a></li>
    </ul>

    <span class="label label-success">网络I/O</span>
    <table id="disks" class="table table-hover">
        <thead>
            <tr>
                <th>Interface</th>
                <th>IP</th>
                <th>Sent</th>
                <th>Recv</th>
                <th>Packets sent</th>
                <th>Packets recv</th>
                <th>Errors in</th>
                <th>Errors out</th>
                <th>Dropped in</th>
                <th>Dropped out</th>
                <th>RX/s</th>
                <th>TX/s</th>
            </tr>
        </thead>
        <tbody id="netifs"></tbody>
    </table>

    <span class="label label-success">网络连接</span>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>FD</th>
                <th>PID</th>
                <th>Family</th>
                <th>Type</th>
                <th>Local address</th>
                <th>Remote address</th>
                <th>State</th>
            </tr>
            <tr>
                <th></th>
                <th></th>
                <th>
                    <select name="family" class="form-control input-sm">
                        <option value="" selected>All</option>
                        {% for v in socket_families.values %}
                            <option value="{{ v }}">{{ v }}</option>
                        {% endfor %}
                    </select>
                </th>
                <th>
                    <select name="type" class="form-control input-sm">
                        <option value="" selected>All</option>
                        {% for v in socket_types.values %}
                            <option value="{{ v }}">{{ v }}</option>
                        {% endfor %}
                    </select>
                </th>
                <th></th>
                <th></th>
                <th>
                    <select name="state" class="form-control input-sm">
                        {% for v in states %}
                            <option value="{{ v }}">{{ v }}</option>
                        {% endfor %}
                        <option value="">All</option>
                    </select>
                </th>
            </tr>
        </thead>
        <tbody id="conns"></tbody>
    </table>

{% endblock %}
{% block js %}
<script>
$(document).ready(function () {
    var tNetifs = $('#netifs');
    var tConns = $('#conns');
    var oFamily = $('select[name=family]');
    var oType = $('select[name=type]');
    var oState = $('select[name=state]');

    oFamily.change(function () {
        updateConnections()
    });

    oType.change(function () {
        updateConnections()
    });

    oState.change(function () {
        updateConnections()
    });

    function updateNetifs() {
        $.getJSON("{% url "server_network_interfaces" %}", {hostname: "{{ server.hostname }}"}, function(ret){
            if (ret.msg == 0) {
                var netifs = ret.netifs;
                tNetifs.empty();
                for(var k in netifs) {
                    var nif = netifs[k];
                    tNetifs.append('<tr><td>'+nif.name+'</td><td>'+nif.ip+'</td><td>'
                            +nif.sent+'</td><td>'+nif.recv+'</td><td>'
                            +nif.packets_sent+'</td><td>'+nif.packets_recv+'</td><td>'
                            +nif.errors_in+'</td><td>'+nif.errors_out+'</td><td>'
                            +nif.dropped_in+'</td><td>'+nif.dropped_out+'</td><td>'
                            +nif.send_rate+'</td><td>'+nif.recv_rate+'</td></tr>');
                }
            } else {
                console.log(ret.msg);
                clearInterval(netifsIntervalId)
            }
        });
    }

    function updateConnections() {
        $.getJSON("{% url "server_connections" %}", {
            hostname: "{{ server.hostname }}",
            family: oFamily.val(),
            type: oType.val(),
            state: oState.val()}, function (ret) {
            if (ret.msg == 0) {
                var conns = ret.conns;
                tConns.empty();
                for(var i = 0; i < conns.length; i++) {
                    var conn = conns[i];
                    tConns.append('<tr><td>'+conn.fd+'</td><td>'+conn.pid+'</td><td>'
                            +conn.family+'</td><td>'+conn.type+'</td><td>'
                            +conn.local_addr_host+':'+ conn.local_addr_port+'</td><td>'
                            +conn.remote_addr_host+':'+conn.remote_addr_port+'</td><td>'
                            +conn.state+'</td></tr>');
                }
            } else {
                console.log(ret.msg);
                clearInterval(connsIntervalId)
            }
        });
    }
    setTimeout(updateNetifs, 200);
    setTimeout(updateConnections, 500);
    var netifsIntervalId = setInterval(updateNetifs, 3000);
    var connsIntervalId = setInterval(updateConnections, 3000);
})
</script>
{% endblock %}