{% extends "base.html" %}
{% load bootstrap3 %}
{% block title %}删除HBase集群监控器{% endblock %}
{% block content %}
    <ol class="breadcrumb">
        <li class="active"><a href="{{ hbase_cluster_monitor.get_absolute_url }}">{{ hbase_cluster_monitor.name }}</a></li>
    </ol>

    <form method="post">
        {% csrf_token %}
        <div class="alert alert-danger" role="alert">确认要删除"{{ hbase_cluster_monitor.name }}"吗?</div>
        <button class="btn btn-primary" type="submit">确认</button>
        <a class="btn btn-warning" href="{{ hbase_cluster_monitor.get_absolute_url }}">取消</a>
    </form>
{% endblock %}