{% extends "base.html" %}
{% load bootstrap3 %}
{% block title %}HBase集群监控器{% endblock %}
{% block content %}
    <ol class="breadcrumb">
        {% if "create" in request.path %}
            <li class="active">新建HBase集群监控器</li>
        {% elif "update" in request.path %}
            <li><a href="{{ hbase_cluster_monitor.get_absolute_url }}">HBase集群监控器：{{ hbase_cluster_monitor.name }}</a></li>
            <li class="active">更新</li>
        {% endif %}
    </ol>

    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons submit="提交" %}{% endbuttons %}
    </form>
{% endblock %}